@media (min-width: 768px) {
  #menu-hamburguer {
    display: none; /* Esconde o botão em telas grandes */
  }

  #menu-nav {
    display: block !important; /* Força a exibição contínua */
    width: auto;
  }

  #menu-nav ul {
    display: flex;
    gap: 1rem;
  }

  .grid-layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
    align-items: start;
  }

  .grid-cursos {
    grid-template-columns: repeat(3, 1fr);
  }
}